.circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: #e6e6e6;
  }
}
