.number {
  color: white;
  background-color: green;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}

.answer-text {
  color: green;
}

.title {
  font-weight: 700;
  color: #294563;
}

.key {
  margin-top: 60px;
  margin-bottom: 20px;
}

.exam-review-wrapper {
  border: 20px solid #294563;
  border-radius: 10px;
}

.nav-button {
  height: 50px;
  width: 50px !important;
  background-color: #e0e0e0 !important;
}

.prev-nav-wrapper {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  margin-left: -35px;
}

.next-nav-wrapper {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  margin-right: -35px;
  // margin-left: 25px;
}

.next-nav-wrapper,
.prev-nav-wrapper {
  :hover {
    border-color: inherit;
    color: black !important;
  }
}
