.background {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  height: 100vh;
  background: url("../../assets/particle-lines-futuristic-gradient-background.jpg")
    no-repeat center center;
  background-size: cover;
}
