.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #333;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-right: 100px;
  cursor: pointer;
}

.nav-item {
  // margin-right: 20px;
  font-size: 16px;
  font-weight: 700px;
  cursor: pointer;
  background-color: #333;
  transition: background-color 0.3s ease;
  padding: 0 20px;

  &:hover {
    background-color: #555;
  }

  &.active {
    background-color: #777;
    outline: none; /* remove default focus outline */
  }
}

.main-layout {
  margin-top: 30px;
  background-color: white;
  .sider {
    background-color: white;
  }
  .content {
    padding: 10px;
  }
}

.username {
  color: white;
}

.text {
  color: white;
  background-color: red;
}

.dropdown {
  color: white;
  cursor: pointer;
}
