.exam-review-wrapper {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    overflow-y: auto;
    flex: 1;
    text-align: justify;
    display: flex;
    justify-content: center;
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
  }
  .content::-webkit-scrollbar {
    width: 8px;
  }

  .content::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
  }
  .content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
  }

  .bottom {
    background-color: #d4dae0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .part {
      color: #32b3c7;
      text-align: center;
      line-height: 20px;
    }
  }
}

.left-container::-webkit-scrollbar,
.right-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.left-container::-webkit-scrollbar-track,
.right-container::-webkit-scrollbar-track {
  background: #f0f0f0; /* Scrollbar track color */
  border-radius: 10px; /* Makes the track rounded */
}

.left-container::-webkit-scrollbar-thumb,
.right-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Makes the scrollbar thumb rounded */
  border: 2px solid #f0f0f0; /* Gives space around the thumb */
}

/* For Firefox */
.left-container,
.right-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}
