.answer {
  margin-top: -24px;
  margin-bottom: 12px;
}

.explanation-wrapper {
  max-height: 0;
  overflow-y: hidden;
  // display: flex;
  // justify-content: center;
  transition: max-height 0.3s ease-in-out;
  // width: 95%;
}

.explanation-wrapper.expanded {
  max-height: 1000px; /* Adjust based on the typical height of your content */
}

.explanation-content {
  // padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.explanation-wrapper.expanded .explanation-content {
  opacity: 1;
}
