.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../../assets/particle-lines-futuristic-gradient-background.jpg")
    no-repeat center center;
  background-size: cover;
}

.form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}
