.series-card {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}

.test {
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px 0;
  padding: 10px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    border: 1px solid #00b300;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.modal {
  width: 90vh;
  .title {
    color: green;
    font-weight: 700;
  }

  .card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 60vh;
    position: relative;
    margin-bottom: 20px;
    .title-icon {
      font-size: 45px;
    }
    .desc-icon {
      font-size: 30px;
    }
    .desc-text {
      font-size: 16px;
    }
    .content {
      margin-top: 20px;
    }
    .content,
    .card-title,
    .title-icon {
      color: #294563;
    }
    .button {
      margin-bottom: 16px;
      position: absolute;
      bottom: 0;
      background-color: green;
      color: white;
      font-size: 16px;
      width: 150px;
      height: 40px;
      transition: background-color 0.3s ease; /* Smooth transition */
      &:hover {
        background-color: darkgreen;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        color: white;
      }
    }
  }
}

.skill-wrapper {
  border: 1px solid #9da9b7;
  border-radius: 30px;
  padding: 0.6rem 1rem;
  color: #294563;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  transition: all ease 0.2s;

  &.active,
  &:hover {
    color: #fff;
  }
}

#all:hover,
#all.active {
  background: linear-gradient(180deg, #294563 0%, #1d3146 100%);
}

#reading:hover,
#reading.active {
  border: 1px solid #37854d;
  background: linear-gradient(180deg, #337845 0%, #265a35 100%);
}

#listening:hover,
#listening.active {
  border: 1px solid #32b4c8;
  background: linear-gradient(180deg, #33b2c7 0%, #268695 100%);
}

#writing:hover,
#writing.active {
  border: 1px solid #f9a95a;
  background: linear-gradient(180deg, #faa859 0%, #bb7f44 100%);
}

#speaking:hover,
#speaking.active {
  order: 1px solid #c76378;
  background: linear-gradient(180deg, #c86478 0%, #954b5a 100%);
}
