.content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .title {
    color: #aaa;
    font-size: 24px;
  }
}

// .title {
//   width: 80%;
// }

.band-score-wrapper {
  flex: 1;
  margin-top: 150px;
}
